name: Angular CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  validate-pr-title:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - name: Check PR title
        run: |
          TITLE="${{ github.event.pull_request.title }}"
          if [[ ! "$TITLE" =~ ^(major|minor|patch): ]]; then
            echo "Error: PR title must start with 'major:', 'minor:', or 'patch:'."
            exit 1
          fi

  build-and-test:
    needs: [validate-pr-title]
    if: always() && (needs.validate-pr-title.result == 'success' || github.event_name != 'pull_request')
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run Tests
        run: npm test -- --watch=false --browsers=ChromeHeadless

      - name: Build Application
        run: npm run build -- --configuration production
